@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Nova+Square&family=Roboto+Condensed:wght@200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:ital,wght@0,700;1,500&family=Nova+Square&family=Roboto+Condensed:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: hsl(0, 0%, 100%);
    width: 32rem;
    height: 26rem;
    display: flex;
}
header{
    width: 100%;
}
.header__img{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}
.main__titulo{
   color: hsl(228, 12%, 48%); 
   font-size: 14px;
   font-family: 'Montserrat', sans-serif;
   
}
.main__nombre{
    font-family: 'Fraunces', serif;
    padding-right: 10px;
}
.main__parrafo{
    font-family: 'Montserrat', sans-serif;
    color: gray;
}
.main__precios{
    display: flex;
    align-items: center;
}
.precios__descuento{
    font-family: 'Fraunces', serif;
    font-size: 30px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
}
.precios__normal{
    text-decoration: line-through;
    color: gray;
    padding-left: 30px;
    font-size: small;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.footer__boton{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    background-color:hsl(158, 36%, 37%) ;
    color: hsl(0, 0%, 100%);
    border: 0px;
    padding: 12px 70px 12px 40px; 
    font-weight: 700;
    border-radius: 7px;
    align-items: center;
    gap: 10px;
}
.carrito__footer{
    width: 1rem;
    height: 1rem;
    color: white;
    
}
.footer__boton:hover{
    background-color: hsl(212, 21%, 14%);
}

